@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "AkrasiaVP Demo";
        src: url("/fonts/AkrasiaVPDemo-Style.otf");
    }
    @font-face {
        font-family: "MADE Dillan";
        src: url("/fonts/MADE\ Dillan\ PERSONAL\ USE.otf");
    }
    @font-face {
        font-family: "Kento";
        src: url("/fonts/Kento-Font/");
    }
}
